<div class="bg-black p-5 flex justify-end">
    <button class="flex items-center justify-center gap-3" (click)="goBack()">  
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24">
  <path d="M19 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H19v-2z"/>
</svg>


      Go Back</button>
  </div>
<div class="table-container">
  <div class=""></div>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Generated Array</th>
        <th>Sorted Array</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let arrayData of arrays; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ arrayData.generatedArray.join(", ") }}</td>
        <td>{{ arrayData.sortedArray.join(", ") }}</td>
      </tr>
    </tbody>
  </table>
</div>
