
.table-container {
  margin-top: 20px;
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;




}
table {
  font-size: 10px;
  width: 50%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 4px;
}

th {
  background-color: #121111;
  text-align: left;
}


