
<div class="visualizer-container">
  <div class="controls">
    <button (click)="generateArray()">Generate Array</button>
    <button (click)="sortArray()">Sort Array</button>
    <button (click)="viewHistory()">View History</button>
  </div>
  <div class="flex items-center justify-end pl-40">
    <div class="">{{animationDelay}}ms</div>
  </div>
  <div class="flex gap-5 py-2 pb-5">
    <label for="delay">Animation Delay</label>
    <input type="range" id="delay" min="10" max="20" [(ngModel)]="animationDelay" title="{{animationDelay}}ms">
  </div>
  <div class="array-container">
    <div *ngFor="let value of array" class="array-bar rounded-t-md w-7" [style.height.px]="value">
      <div class="array-value text-black font-semibold text-md">{{ value }}</div>
    </div>
  </div>
</div>
