/* src/app/visualizer.component.css */
.visualizer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background: #151617;
  color: #ffffff;
  overflow: hidden;
  
}

.controls {
  margin-bottom: 20px;
}

.array-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 300px;
  width: 100%;
  max-width: 100%;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.array-bar {
  background-color: #4caf50;
  margin: 0 1px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.array-value {
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}

button {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #26282A;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 2px;
}

button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  transition: 0.5s;
  transform-origin: center;
}

button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  transition: 0.5s;
}

button:hover::before, button:hover::after {
  transform: scale(0)
}

button:hover {
  box-shadow: inset 0px 0px 25px #26282A;
}
